ACCESS_TOKEN=''
SECRET_ACCESS_TOKEN=''
BASE_URL='https://api.gestaoclick.com'
YAML_PATH='/opt/airflow/dags/ro_dou/dag_confs/Pesquisa_cnpj.yaml'
AIRFLOW__SMTP__SMTP_HOST='smtp.gmail.com'
AIRFLOW__SMTP__SMTP_PORT='587'
AIRFLOW__SMTP__SMTP_USER=''
AIRFLOW__SMTP__SMTP_PASSWORD=''
AIRFLOW__SMTP__SMTP_MAIL_FROM=''
